/* FORMATTING */

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif !important;

    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.logo {
    font-weight: 300 !important;
}

.responsive-width {
    max-width: 40% !important;
}

@media (max-width: 992px) {
    .responsive-width {
        max-width: 70% !important;
    }
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
    .responsive-width {
        max-width: 100% !important;
    }
}


/* BUTTONS */

.button-primary {
    background: linear-gradient(to right, #232d4b, #394567) !important;
    color: white !important;
}

.button-primary:hover {
    background: linear-gradient(to right, #394567, #4d5a7f) !important;
    color: white !important;
}

/* TEXT */

.text-primary {
    background: linear-gradient(to right, #e57200, #ee8d2c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BACKGROUNDS */

.background-primary {
    background: linear-gradient(to right, #e57200, #ee8d2c) !important;
}