/* FORMATTING */

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif !important;
}

.logo {
    font-weight: 300 !important;
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
}

/* BUTTONS */

.button-primary {
    background: linear-gradient(to right, #232d4b, #394567) !important;
    color: white !important;
}

.button-primary:hover {
    background: linear-gradient(to right, #394567, #4d5a7f) !important;
    color: white !important;
}

/* TEXT */

.text-primary {
    background: linear-gradient(to right, #e57200, #ee8d2c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BACKGROUNDS */

.background-primary {
    background: linear-gradient(to right, #e57200, #ee8d2c) !important;
}